doctype html
html
  head
    title Error - Changebank
    link(rel='stylesheet', href='/static/css/styles.css')
  body
    h1 Error
    p= message
    
    div.navigation
      a(href='/') Back to Home
