doctype html
html
  head
    meta(charset="utf-8")
    title FusionAuth Express Web
    link(rel="stylesheet", href="/static/css/moneyscope.css")
  body
    #page-container
      #page-header
        #logo-header
          img(src="/static/img/moneyscope.svg")
          a.button-lg(href="/authorize") Login
        #menu-bar.menu-bar
          a.menu-link About
          a.menu-link Services
          a.menu-link Products
          a.menu-link(style="text-decoration-line: underline;") Home
      div(style="flex: 1;")
        .column-container
          .content-container
            div(style="margin-bottom: 100px;")
              h1 Welcome to MoneyScope
              p To get started with MoneyScope, 
                a(href="/authorize") login with Changebank
                | .
              p We'll need to retrieve your account and transaction details to analyze your spending.
          div(style="flex: 0;")
            img(src="/static/img/money.jpg", style="max-width: 800px;")
